@media (min-width: 200px) {
    .imgYo{
        border-radius: 50%;
        opacity: 0.9;
        max-height: 150px;
        
    }

}
@media (min-width: 370px) {

    nav ul{
        list-style: none;
        padding: 2px;
    }
    
    nav ul li{
        list-style: none;
    }
    
    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-weight: 300 !important;
        font-family: 'Josefin Sans', sans-serif;
        
    }
    
    
    nav ul li a:hover{
        color: #8cc9fa;
        border-left: 1px solid white;
        padding: 5px;
    }
    
    nav ul li a:active {
        color: #b0c0e0; /* Fondo al hacer clic */
    }
    .imgYo{
        border-radius: 50%;
        opacity: 0.9;
        max-height: 150px;
        
    }


    
}
/*md*/
@media (min-width: 768px) {

    .diploma-img-container {
    border: 8px solid gold;
    padding: 10px;
    border-radius: 20px;
    max-width: 700px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

    .nav-largo{
        display: block;
    }
    .nav-ha{
        display: none;
    }

    nav ul{
        list-style: none;
        padding: 2px;
    }
    
    nav ul li{
        list-style: none;
    }    
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 300 !important;
        font-family: 'Josefin Sans', sans-serif;
        
    }
    
    
    nav ul li a:hover{
        color: #265881;
        border-left: 1px solid black;
        padding: 5px;
    }
    
    nav ul li a:active {
        color: #b0c0e0; /* Fondo al hacer clic */
    }
    .imgYo{
        border-radius: 50%;
        opacity: 0.9;
        max-height: 300px;
        
    }
    
}
/*lg*/
@media (min-width: 992px) {

}
/*xl*/
@media (min-width: 1200px) {

}
/*xxl*/
@media (min-width: 1400px) {

}

html{
    scroll-behavior: smooth;
}

.fondoGris{
    background-color:rgba(193, 190, 190, 0.351);
}


.fondoBlanco{
    background-color:white;
}

body{
    background-image: url(../img/fondosobremi.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body, h1, h2, h4, h3 {
    font-weight: 300 !important;
    
}

h1, h2{
    font-family: 'Oswald', sans-serif;
}
header{
    min-height: 80px;
    max-height: 200px;
    background-color: rgba(255, 255, 255, 0.642);
    
}





/*PORTADA*/

.portadaContainer{
    height: 100vh;
    
}

.titles{
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 500 !important;
    font-size: 2rem;
}
.subtitles{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    font-family: "Poppins", sans-serif;
    margin-top: 2rem;
    font-style: normal;
}


.textoPortada{
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-2{
    background-color: rgb(53, 53, 53);
    color: white
}

.btn-color-1-dowload{
    background-color: rgba(106, 236, 106, 0.488);
    color: black
}
.btn-color-2:hover{
    background-color: white;
    color: black;

}
.btn-color-1:hover{
    background-color: rgb(237, 232, 232);
    color: white;
}


.redesPortada{
    color: black;
}

.redesPortada:hover{
    color: rgba(128, 106, 236, 0.488);
}



h4{
    font-style: italic;
}

.hi{
    font-family: 'Oswald', sans-serif; 
    border-top: 1px solid;
}




/*PROYECTOS*/


.card{
    height: 500px;
    width: 500px;
    margin-top: 20px;
    border: #AED1E6 solid 3px;
    
}

.card:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #5d5d5d2f;
}

.contenedorFigure{
    width: 100%;
    height: 50%;

}

.card-img-top {
    width: 100%;
}

article h2{
    color: white;
}

article img{
    width: 300px;
}


.botones-lenguajes{
    border: #AED1E6 solid 2px;
    border-radius: 10px;
    text-align: center;
    text-overflow: hidden;
    margin: 0;
    padding: 0;
}

.botones-lenguajes:hover{
    background-color: white;
}

/*HABILIDADES*/

.mac{
    background-color: #262626;
    border-radius: 10px;
}

.botones-mac{
    display: flex;
}
.boton-rojo-mac{
    height: 10px;
    width: 10px;
    margin-left: 15px;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;

}

.boton-rojo-mac:hover{
    border: white solid 1px;

}

.boton-amarillo-mac{
    height: 10px;
    width: 10px;
    margin-left: 5px;
    background-color: #f9cd45;
    border-radius: 10px;
    cursor: pointer;

}

.boton-amarillo-mac:hover{
    border: white solid 1px;

}

.boton-verde-mac{
    height: 10px;
    width: 10px;
    margin-left: 5px;
    background-color: #46c23e;
    border-radius: 10px;
    cursor: pointer;
}
.boton-verde-mac:hover{
    border: white solid 1px;

}

.buscador-mac{
    background-color: #6b6b6b;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    
}

.letras-mac{
    color: white;
}

.section-flechas-buscador{
    background-color:   #474747;  
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.window-abierta{
    background-color: #474747;
    height: 30px;
    border-radius: 3px;

}

.body-habilidades{
    background-color: #474747;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

ul li{
    list-style: none;
    font-size: 20px;
}

label{
    font-family: 'Oswald', sans-serif; 
}

.habilidadContainer{
    cursor: pointer;
    background-color: #262626;
    color: white;
    border-radius: 5px;
}

.habilidadContainer:hover{
    background-color: #6b6b6b;
}

#formRange{
    pointer-events: none; /* Evita la interacción */
    opacity: 0.5; /* Hace que el slider se vea desactivado */
}
/*SOBRE MI*/

.mac-azul{
    background-color: #0B2C47;
    border-radius: 10px;
}


.buscador-mac-azul{
    background-color: #8199a19f;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    
}

.body-sobremi{
    background-color:   #6d7c813c;  
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

.window-abierta-azul{
    background-color: #6d7c813c;
    height: 30px;
    border-radius: 3px;
}


#sobremi{
    color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin-top: 50px;

}

.card-circular{
    background-color: #8199a19f;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    
}

.fondoDiplomas{
    background-color: white;
}
.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 14px;
  }
  

.imgYo2{
    border-radius: 10px;
    opacity: 0.6;
    max-height: 400px;
}


/*FOOTER*/

footer{
    background-color: #0B2C47;
    margin-top: auto;
    padding: 10px;
}
.redes{
    color: white;
}

.container-footer{
    color: white;
}

.redes:hover{
    color: rgb(128, 106, 236);
}


